.main-header {
    background-image: url("../img/cake-coffee-2-r.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 600px;
    position: relative;
}
.main-header .brand-logo {
    font-family: cursive;
}
.main-header .mobile-header {
    margin-left: 10px;
}
.header .brand-logo {
    font-family: cursive;
}
.header .mobile-header {
    margin-left: 10px;
}
.tabs .indicator {
    background-color: #ff6f00 !important;
}

.section-contact {
    position: relative;
}
.section-contact .card-panel {
    position: relative;
    z-index: 1;
}
#googlemap {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;

}